.Organization{
    border-radius: 5px;
    margin-bottom: 16px;
    overflow: hidden;
    background-color: #ebecf0;
    border: solid 1px #b2b3b6;
}

.Organization > h2 {
    padding: 8px;
    background-color: #b2b3b6;
    margin-bottom: 0;
}
